[Desktop Entry]
Categories=Network;RemoteControl;
Comment=Cooperation is a powerful cross-terminal office tool that helps you deliver files, share keys and mice, and share clipboards between different devices.
Exec=/usr/bin/dde-cooperation
GenericName=Cooperation
Icon=dde-cooperation
Name=Deepin Cooperation
StartupNotify=false
Terminal=false
Type=Application
X-Deepin-DEComponent=true
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[af]=Cooperation is 'n magtige kruis-terminal kantoorinstrument wat u help om lêers te deel, sleutels en muis te deel, en kleefbord te deel tussen verskillende toestelle.
Comment[am_ET]=ኮኦፐራሽን ძალიან ძლიერი სამუშაო ინსტრუმენტია სადისկეტო სისტემისთვის, რომელიც გამომდინარე ფაილების, კლიენტის საგადაცემო კლავიატურისა და მაუსის, და კლიპბორდების გადაცემის შესახებ სხვადასხვა მოწყობილოებებს დახმარებას აძლევს.
Comment[ar]=التعاون هو أداة مكتبية قوية تعمل عبر المنصات المختلفة تساعدك في نقل الملفات ومشاركة المفاتيح والماوس والصفيحات العلوية بين الأجهزة المختلفة.
Comment[ast]=La Colaboración ye un potéu herramienta de oficina multi-terminal que te ayuda a entregar ficheros, compartir teclados y ratones, y compartir portapapeles ente dispositivos diferentes.
Comment[az]=İş birliyi, dosyaları paylaşma, klavyə və siyahıları və ya klipboardları fərqli cihazlar arasında paylaşma üçün güclü bir terminal iş aracısıdır.
Comment[bg]=Сътрудничеството е мощна крос-терминална офисна утилитет, която ви помага да изпращате файлове, споделяте клавиатури и миши, и споделяте клипборд между различни устройства.
Comment[bn]=সহযোগিতা হল একটি শক্তিশালী ক্রস টার্মিনাল অফিস টুল যেটি আপনাকে ফাইল প্রেরণ, কী এবং মাইক শেয়ার করা এবং বিভিন্ন ডিভাইসের মধ্যে ক্লিপবোর্ড শেয়ার করা সহায়তা করে।
Comment[bo]=མཉམ་སྒྲུབ་ནི་མཐུད་སྣེ་བརྒལ་བའི་ལས་སྒྲུབ་ཡོ་བྱད་རྩེ་གྲ་ཞིག་རེད། དེས་སྐུ་ཉིད་ལ་སྒྲིག་ཆས་མི་འདྲ་བའི་དབར་ཕན་ཚུན་ཡིག་ཆ་བསྐུར་བ་དང་། མཐེབ་གཞོང་མཉམ་སྤྱོད། དྲས་སྦྱར་པང་མཉམ་སྤྱོད་བྱེད་པར་རོགས་རམ་བྱེད་ཐུབ།
Comment[bqi]=کوآپریشن ہے ایک قوی کراس ٹرمینل آفیس ٹول جو آپ کو فائلز کے اشتراک، مختلف ڈیوائسز کے درمیان کیبنڈس، کی بارے اور مائس کے اشتراک کی مدد کرتا ہے۔
Comment[br]=تعاون هو أداة مكتب قوية تتيح لك نقل الملفات ومشاركة المفاتيح والماوس واللصقات بين الأجهزة المختلفة.
Comment[ca]=La col·laboració és una eina poderosa de despatx trans-terminal que et permet entregar fitxers, compartir claus i ratolins, i compartir portadors entre dispositius diferents.
Comment[cs]=Spolupráce je výkonné nástroje pro kancelářské účely, které vám pomáhají přenášet soubory, sdílet klávesnice a myši, a sdílet mezi různými zařízeními klipboardy.
Comment[da]=Samarbejde er et stærkt tværterminalarbejdstøje, der hjælper dig med at overføre filer, dele tastatur og mus, samt dele klipborde mellem forskellige enheder.
Comment[el]=Η Συνεργασία είναι ένα ισχυρό εργαλείο γραφείου πολυπλατφόρμας που σας βοηθά να μεταφέρετε αρχεία, να κοινοποιείτε πληκτρολόγια και μονάδες, καθώς και να κοινοποιείτε πλαίσια αντιγραφής αντικειμένων μεταξύ διαφορετικών συσκευών.
Comment[eo]=Kooperacio estas potenca trans-terminala oficila ilo, kiu helpas vin transdoni dosierojn, partopreni klavojn kaj musojn, kaj partopreni klipboardojn inter malsamaj aparatoj.
Comment[et]=Koostö on tugev kriptotermiinaalne büroo tööriist, mis aitab sul failide edastamise, klaviatuuride ja kõrvutusmaitse ja kleebipõhjad ühesuuruse vahel.
Comment[eu]=Kolaborazioa ezarpena erabilgarri den ofiziala tresna da, ezartzeko fitxategiak, sarraskiak eta musuak, eta azpiplakatuen artean zehar kolaborazioa egiteko
Comment[fa]=همایش یک ابزار قوی مبتنی بر پنجره کار اداری است که به شما کمک می‌کند فایل‌ها را ارسال کنید، کلیدها و ماوس‌ها را بازیابی کنید و بین دستگاه‌های مختلف پانچه‌ها را به اشتراک بگذارید.
Comment[fi]=Yhteistyö on vahva ristipöytätoimisto työkalu, joka auttaa sinua jakamaan tiedostoja, jakamaan näppäimistöjä ja hiireitä sekä leikepalkkia eri laitteiden välillä.
Comment[fil]=Ang Kooperasyon ay isang makapangyarihang tool para sa opisyales na nag-uugnay sa mga terminal na nagpapadala ng mga file, nag-uugnay ng mga key at mouse, at nag-uugnay ng mga clipboard sa iba't ibang mga aparato.
Comment[fr]=Coopération est un puissant outil bureautique multi-terminaux qui vous aide à transférer des fichiers, partager des claviers et des souris, et partager le presse-papiers entre différents appareils.
Comment[gl_ES]=A Colaboración é unha potente ferramenta de escritorio multi-terminal que te axuda a entregar ficheiros, compartir teclados e mouse, e compartir portapapeles entre dispositivos diferentes.
Comment[he]=сотрудничество היא أداة مكتب قوية تعمل عبر واجهات متعددة تساعدك في نقل الملفات ومشاركة المفاتيح والماوس واللصقات بين الأجهزة المختلفة.
Comment[hi_IN]=सहयोग एक सामर्थ्यपूर्ण क्रॉस-टर्मिनल ऑफिस टूल है जो आपको फ़ाइलों के साथ अलग-अलग उपकरणों के बीच कुंजी और माउस और क्लिपबोर्ड साझा करने में सहायता करता है।
Comment[hr]=Suradnja je moćan alat za rad preko terminala koji vam pomaže da dostavite datoteke, podijelite tastature i miševe, te podijelite međusobno odlomke između različitih uređaja.
Comment[hu]=A közös munka egy hatékony, keresztkonzolos irodai eszköz, amely segít neked fájlok átvitelében, billentyűzetek és egérök megosztásában, valamint vágólapok megosztásában különböző eszközök között.
Comment[hy]=Կոոպերացիա հարցման մի հզոր անցյալ աշխատանքային գործիք է, որ օգնում է ձեզ փայլատուրեր փոխանցել, բաժանարարներ և մակաբույժներ համատեղել, ինչպես նաև կոպիռանակներ տարբեր սարքերի միջև փոխանցել
Comment[id]=Kerja sama adalah alat kantor berbasis terminal yang kuat, membantu Anda mengirimkan file, berbagi keyboard dan mouse, serta berbagi clipboard antar perangkat yang berbeda.
Comment[ka]=კოოპერაცია ძლიერი სამუშაო ინსტრუმენტია, რომელიც დაგეხმარებათ ფაილების გადაცემაში, საკლიევეტისა და მაუსის გაზიარებაში და სამაგრების გაზიარებაში სხვადასხვა მოწყობილობებს შორის.
Comment[km_KH]=ការសហការគឺជាទម្រង់ប្រព័ន្ធប្រតិបត្តិការសម្រាប់ការងារដែលអាចផ្ទះនៅក្នុងការប្រើប្រាស់ប្រព័ន្ធប្រតិបត្តិការដែលជួយអ្នកដំណើរការឯកសារ ចែករំលែកកូដអាការ ម៉ាស៊ីនមួយ និងកម្រិតក្រូចប្រព័ន្ធដែលមានប្រភេទផ្សេងៗ
Comment[kn_IN]=ಸಹಕರಣ ಒಂದು ಶಕ್ತಿಶಾಲಿಯಾದ ಕ್ರಾಸ್ ಟರ್ಮಿನಲ್ ಆಫೀಸ್ ಟೂಲ್ ಆಗಿದೆ, ಅದು ನಿಮ್ಮನ್ನು ಫೈಲ್‌ಗಳನ್ನು ಸಾರಿ, ಕೀಗಳನ್ನು ಮತ್ತು ಮೈಸ್‌ಗಳನ್ನು ಹಂಚಿಕೊಳ್ಳಲು ಮತ್ತು ಅದರಲ್ಲಿ ವಿವಿಧ ಉಪಕರಣಗಳ ನಡುವೆ ಕ್ಲಿಪ್‌ಬ್ಯಾಂಡ್‌ಗಳನ್ನು ಹಂಚಿಕೊಳ್ಳಲು ಸಹಾಯ ಮಾಡುತ್ತದೆ.
Comment[ko]=협업은 강력한 크로스-테อร미널 사무 도구로, 파일을 전달하고 키와 마우스, 클립보드를 다른 장치 간에 공유하는 데 도움을 줍니다.
Comment[ku]=کۆپەرەسیۆن ھەینە یەکەم چەند چەند ھۆڵە ئەوە بەکارھێنەرەکان بەکاردەھێنێت کە پەیوەندی بە فایلەکان، کیفەکان و موسەکان، و کلیپبۆردەکان بەکاردەھێنێت.
Comment[ky]=Жама - бүтün үйләтмәләр арасында файлдар, түгел үтәмәләр һәм мышлар, clipboardлар бүләп өстәү өсөн күп үтәмәле үйләтмә өсөн үйләтмә.
Comment[lo]=ການຮ່ວມມືແມ່ນເຄື່ອງມືຫ້ອງການຂ້າມສະຖານີທີ່ມີປະສິດທິພາບທີ່ຊ່ວຍໃຫ້ທ່ານສົ່ງໄຟລ໌, ແບ່ງປັນຄີ້ງແລະເມົາ, ແລະແບ່ງປັນຄລິບບອດລະຫວ່າງອຸປະກອນຕ່າງໆ.
Comment[lt]=Koordinacija yra galingas kripterminis biuro įrankis, kuris padeda jums perduoti failus, dalintis klaviatūromis ir pelėmis, bei dalytis koplyperiais tarp skirtingų įrenginių.
Comment[ml]=സഹകരണം ഒരു ശക്തമായ ക്രോസ്-ടർമിനൽ ഓഫീസ് ടൂളാണ്, നിങ്ങൾക്ക് ഫയൽ നൽകുക, കീസും മൈസും പങ്കിടുക, വിവിധ ഉപകരണങ്ങൾ ക്ലിപ്പ്ബോർഡുകളും പങ്കിടുക എന്നിവ സഹായിക്കുന്നു.
Comment[mn]=Хамтран нь хүнд л хөрөнгө оруулах, файлыг нь шилжүүлэх, дугаарын хөдөлгөөн, хөнгөн дэвсгэр, хуруугаа хуваарьлах, дүрээг хэлж байгаа үүдэндээ хөрөнгө оруулах боломжийг олгодог хүнд л хөрөнгө оруулах хэрэгслээрээ
Comment[mr]=सहकार्य एक शक्तिशाली क्रॉस-टर्मिनल ऑफिस टूल आहे जो आपल्याला फाइल्स वितरित करण्यास, वेगवेगळ्या यंत्रांमध्ये की आणि माउस शेअर करण्यास, आणि क्लिपबोर्ड शेअर करण्यास मदत करते.
Comment[ms]=Kerjasama adalah alat pekerjaan meja kerja yang kuat, yang membantu anda menghantar fail, kongsi kekunci dan mouse, serta kongsi papan ketik antara peranti yang berbeza.
Comment[nb]=Cooperation er et sterkt kryssterminalkontorverktøy som hjelper deg med å levere filer, dele tastatur og mus, og dele utklippstavler mellom ulike enheter.
Comment[ne]=सहयोग एक शक्तिशाली क्रॉस-टर्मिनल आफिस टूल हो कि तपाईं फाइलहरू बाँडी, कुञ्ची र माउस साझा गर्न र भिन्न उपकरणबीच क्लिपबोर्ड साझा गर्न मदद गर्दछ।
Comment[nl]=Cooperation is een krachtig kruis-terminal kantoorhulpmiddel dat u helpt bestanden te delen, sleutels en muis te delen en klemborden tussen verschillende apparaten te delen.
Comment[pam]=Ang Pamahalaan ay isang makapangyarihang cross-terminal na tool para sa opisyal na mga gawaing pangkat na nakakatulong sa iyo upang magbigay ng mga file, magbahagi ng mga key at mouse, at magbahagi ng mga clipboard sa iba't ibang mga aparato.
Comment[pl]=Współpraca to potężna narzędzie biurowe przeznaczone do pracy między terminalami, które pomaga Ci przesyłać pliki, dzielić się klawiaturami i myszami, oraz wspólnie korzystać z schowków między różnymi urządzeniami.
Comment[pt]=A Cooperação é uma ferramenta poderosa de escritório multi-terminal que ajuda você a entregar arquivos, compartilhar teclas e mouse, e compartilhar quadros de transferência entre dispositivos diferentes.
Comment[ro]=Cooperare este un instrument puternic pentru birou, care vă ajută să transmiteți fișiere, să împărțiți tastaturi și mouse-uri, și să împărțiți clipboard-uri între dispozitive diferite.
Comment[ru]=Сотрудничество — это мощный кросс-терминальный офисный инструмент, который помогает вам передавать файлы, делиться клавиатурами и мышками, а также обмениваться буферами обмена между различными устройствами.
Comment[sc]=تعاون هو أداة مكتبية قوية تدعم العمل عبر الأجهزة متعددة، وتساعدك في إرسال الملفات ومشاركة الأزرار والماوس والصوابل بين الأجهزة المختلفة.
Comment[sk]=Spolupráca je výkonné softvér na pracovné kancelárske úlohy, ktorý vám pomáha preniesť súbory, zdieľať klávesnice a myši a zdieľať schránky medzi rôznymi zariadeniami.
Comment[sl]=Sodelovanje je močan prekrižen terminalni pisarski orodje, ki vam pomaga prenašati datoteke, deliti tipkovnike in miši ter deliti odsevke med različnimi napravami.
Comment[sr]=Сарадња је снажан крос-терминални амбицијални алат који вам помогава да преносите датотеке, дељите клавиатуре и мишиће, а такође дељите клипборде између различитих уређаја.
Comment[sv]=Samarbete är ett kraftfullt mellan-terminalarbetet verktyg som hjälper dig att skicka filer, dela tangentbord och musar samt klippbitar mellan olika enheter.
Comment[sw]=Umbaaya ni programu mbalimbali ya kifalaki kwenye mifumo ya kifalaki ambayo inaweza kusaidia kufungua faili, kushirika kifalaki na mifalaki, na kushirika clipboards kati ya mifumo mbalimbali ya kifalaki.
Comment[ta]=தொடர்பு ஒரு பலமான கேஸ்கேட் அலுவலக கருவியாகும், அது உங்களுடைய கோப்புகளை வழங்குவதற்கும், பல கீகள் மற்றும் மைக்களை பகிர்வதற்கும், பல கிளிப்போர்டுகளை வெவ்வேறு தொடர்புகளில் இடையில் பகிர்வதற்கும் உதவுகிறது
Comment[th]=การร่วมมือคือเครื่องมือสำหรับการทำงานออฟฟิศแบบข้ามเครื่องที่ทรงพลัง ช่วยให้คุณส่งไฟล์ แบ่งปันคีย์และเมาส์ รวมถึงแบ่งปันคลิปบอร์ดระหว่างอุปกรณ์ต่าง ๆ
Comment[tr]=İş birliği, güçlü bir çok terminal ofis aracısıdır ve farklı cihazlar arasında dosyaları gönderme, klavye ve fareleri paylaşma, panoları paylaşmayı sağlar.
Comment[tzm]=تَنْمِيَة دَوْرَة عَلَى فَرْدِيَة مُتَّسَاعَة مِنْ أَدَواتِ المَكتبِ دِيْنْ بِنَ، يَسْتَهِلُّكْ أَنْ تَسْتَخْدَمْهَا لِتَرْسَالْ أَرْكَانَ، وَتَشْرَيكْ أَمْرَيَة وَمِيْسَة، وَتَشْرَيكْ أَرْكَانَ بَيْنَ أَدَواتِ مُتَّسَاعَة.
Comment[ug]=تېرمىنال ھالقىپ ھەمكارلىشىش كۈچلۈك بولغان تېرمىنال ھالقىپ خىزمەت قىلىش قورالى بولۇپ، ئوخشىمىغان ئۈسكۈنىلەر ئارا ھۆججەت يەتكۈزۈش، كۇنۇپكا تاختىسى، مائۇس ۋە چاپلاش تاختىسىنى ئورتاقلىشىشىڭىزغا ياردەم بېرىدۇ.
Comment[ur]=تعاون ایک قوی کراس ٹرمینل آفیس ایجٹ ہے جو آپ کو فائلز کے اشتراک، کی، مائوس اور کلیپ بورڈز کے اشتراک کے درمیان مختلف ڈیوائسز کے درمیان مدد کرتا ہے۔
Comment[vi]=Hợp tác là một công cụ làm việc văn phòng mạnh mẽ, hỗ trợ bạn chia sẻ tệp, bàn phím, chuột và bảng clipboard giữa các thiết bị khác nhau.
Comment[zh_CN]=跨端协同是一款强大的跨终端办公工具，可帮助您在不同设备之间实现文件投送、共享键鼠、共享剪贴板。
Comment[zh_HK]=跨端協同是一款強大的跨終端辦公工具，可幫助您在不同設備之間實現文件投送、共享鍵鼠、共享剪貼板。
Comment[zh_TW]=跨端協同是一款強大的跨終端辦公工具，可幫助您在不同裝置之間實現文件投送、共享鍵鼠、共享剪貼簿。
GenericName[af]=Samewerk
GenericName[am_ET]=ኮኦፐራሽን
GenericName[ar]=التعاون
GenericName[ast]=Colaboración
GenericName[az]=İş birliyi
GenericName[bg]=Сътрудничество
GenericName[bn]=সহযোগিতা
GenericName[bo]=མཉམ་སྒྲུབ།
GenericName[bqi]=کوآپریشن
GenericName[br]=تعاون
GenericName[ca]=Col·laboració
GenericName[cs]=Spolupráce
GenericName[da]=Samarbejde
GenericName[el]=Συνεργασία
GenericName[eo]=Kooperacio
GenericName[et]=Koostö
GenericName[eu]=Kolaborazioa
GenericName[fa]=همایش
GenericName[fi]=Yhteistyö
GenericName[fil]=Kooperasyon
GenericName[fr]=Coopération
GenericName[gl_ES]=Colaboración
GenericName[he]= сотрудничество
GenericName[hi_IN]=सहयोग
GenericName[hr]=Suradnja
GenericName[hu]=Közös munka
GenericName[hy]=Կոոպերացիա
GenericName[id]=Kerja Sama
GenericName[ka]=კოოპერაცია
GenericName[km_KH]=ការសហការ
GenericName[kn_IN]=ಸಹಕರಣ
GenericName[ko]=협업
GenericName[ku]=کۆپەرەسیۆن
GenericName[ky]=Жама
GenericName[lo]=ການຮ່ວມມື
GenericName[lt]=Koordinacija
GenericName[ml]=സഹകരണം
GenericName[mn]=Хамтран
GenericName[mr]=सहकार्य
GenericName[ms]=Kerjasama
GenericName[nb]=Samarbeid
GenericName[ne]=सहयोग
GenericName[nl]=Samenwerking
GenericName[pam]=Pamahalaan
GenericName[pl]=Współpraca
GenericName[pt]=Cooperação
GenericName[ro]=Cooperare
GenericName[ru]=Сотрудничество
GenericName[sc]=تعاون
GenericName[sk]=Spolupráca
GenericName[sl]=Sodelovanje
GenericName[sr]=Сарадња
GenericName[sv]=Samarbete
GenericName[sw]=Umbaaya
GenericName[ta]=தொடர்பு
GenericName[th]=การร่วมมือ
GenericName[tr]=İş birliği
GenericName[tzm]=تَنْمِيَة
GenericName[ug]=تېرمىنال ھالقىپ ھەمكارلىشىش
GenericName[ur]=تعاون
GenericName[vi]=Hợp tác
GenericName[zh_CN]=跨端协同
GenericName[zh_HK]=跨端协同
GenericName[zh_TW]=跨端協同
Name[af]=Deepin Samewerk
Name[am_ET]=დეეპინ კოოპერაცია
Name[ar]=Deepin التعاون
Name[ast]=Colaboración Deepin
Name[az]=Deepin İş Birliyi
Name[bg]=Deepin Сътрудничество
Name[bn]=ডিপিন সহযোগিতা
Name[bo]=Deepinམཉམ་སྒྲུབ།
Name[bqi]=ڈیپن کوآپریشن
Name[br]=تعاون Deepin
Name[ca]=Deepin Col·laboració
Name[cs]=Deepin Spolupráce
Name[da]=Deepin Samarbejde
Name[el]=Συνεργασία Deepin
Name[eo]=Deepin Kooperacio
Name[et]=Deepin Koostö
Name[eu]=Deepin Kolaborazioa
Name[fa]=همایش دیپین
Name[fi]=Deepin Yhteistyö
Name[fil]=Deepin Kooperasyon
Name[fr]=Deepin Coopération
Name[gl_ES]=Deepin Colaboración
Name[he]=сотрудничество Deepin
Name[hi_IN]=डीपिन सहयोग
Name[hr]=Deepin Suradnja
Name[hu]=Deepin Közös munka
Name[hy]=Դիպեփին Կոոպերացիա
Name[id]=Deepin Kerja Sama
Name[ka]=Deepin კოოპერაცია
Name[km_KH]=ការសហការ Deepin
Name[kn_IN]=ಡಿಪಿನ್ ಸಹಕರಣ
Name[ko]=Deepin 협업
Name[ku]=Deepin کۆپەرەسیۆن
Name[ky]=Deepin Жама
Name[lo]=Deepin ການຮ່ວມມື
Name[lt]=Deepin Koordinacija
Name[ml]=ഡീപിൻ സഹകരണം
Name[mn]=Deepin Хамтран
Name[mr]=डीपिन सहकार्य
Name[ms]=Deepin Kerjasama
Name[nb]=Deepin Samarbeid
Name[ne]=डीपिन सहयोग
Name[nl]=Deepin Samenwerking
Name[pam]=Deepin Pamahalaan
Name[pl]=Deepin Współpraca
Name[pt]=Cooperação Deepin
Name[ro]=Deepin Cooperare
Name[ru]=Deepin Сотрудничество
Name[sc]=تعاون Deepin
Name[sk]=Deepin Spolupráca
Name[sl]=Deepin Sodelovanje
Name[sr]=Deepin Сарадња
Name[sv]=Deepin Samarbete
Name[sw]=Deepin Umbaaya
Name[ta]=டிபிபின் தொடர்பு
Name[th]=Deepin Cooperation
Name[tr]=Deepin İş Birliği
Name[tzm]=تَنْمِيَة دِيْنْ بِنَ
Name[ug]=تېرمىنال ھالقىپ ھەمكارلىشىش
Name[ur]=ڈیپن تعاون
Name[vi]=Hợp tác Deepin
Name[zh_CN]=深度跨端协同
Name[zh_HK]=深度跨端協同
Name[zh_TW]=深度跨端協同

